body{  
        margin: 0;  
        padding: 0;  
        background-color:white;  
        font-family: 'Arial';  
    }  
    .booking{  
            width: 382px;  
            overflow: hidden;  
            margin: auto;  
            margin: 20 0 0 450px;  
            padding: 80px;  
            background: rgb(0,210,49,0.6);
            border-radius: 15px ;  
            bottom:20px;  
			height:300px;
      margin-bottom: 150px;
    }  
    .h22{  
        text-align: center;  
        color: black;  
        padding-top: 70px;  
        padding-bottom: 30px;
		}
		
	  #log1{  
        width: 130px;  
        height: 50px;  
        border: none;  
        border-radius: 5px;  
        padding-left: 7px;  
        color: blue;
		margin-left:50px;
		margin-top:100px;
    }
	
	  #log2{  
        width: 130px;  
        height: 50px;  
        border: none;  
        border-radius: 5px;  
        padding-left: 7px;  
        color: blue; 
		margin-left:20px;
		margin-top:100px;
    }

img.avatar {
  width: 100px;
  height:100px;
  border-radius: 50%;
}

#log1:hover {
  background-color:black;
  color: white;
}

#log2:hover {
  background-color:black;
  color: white;
}